---
import "~styles/styles.css";
import { videoData } from "~components/videoData";
import VideoTemplate from "~components/VideoTemplate.svelte";
---

<html lang="en-GB">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <title>astro2545</title>
  </head>
  <body>
    <main class="container">
      <h1>Тизер-Трейлеры разных частей God of War</h1>
      <p></p>
      {videoData.map(videoParams => 
        <VideoTemplate 
          altColors={videoParams.altColours} 
          hash={videoParams.hash} 
          title={videoParams.title} 
          front={videoParams.front} 
          back={videoParams.back} 
          client:load 
        />)
      }
    </main>
  </body>
</html>

<style>
  .container {
    display: flex;
    flex-direction: column;
    background: hsl(
      var(--colour-dark-hue) var(--colour-dark-saturation)
        var(--colour-dark-luminance)
    );
    color: hsl(
      var(--colour-light-text-hue) var(--colour-light-text-saturation)
        var(--colour-light-text-luminance)
    );
    padding: var(--spacing-8) var(--spacing-0) var(--spacing-32);
  }

  .container a {
    color: hsl(
      var(--colour-secondary-hue) var(--colour-secondary-saturation)
        var(--colour-secondary-luminance)
    );
  }
  .mdx-container {
    display: flex;
    flex-direction: column;
    background: hsl(
      var(--colour-alternative-hue) var(--colour-alternative-saturation)
        var(--colour-alternative-luminance)
    );
    align-items: center;
    width: 100%;
    padding: var(--spacing-8) var(--spacing-0) var(--spacing-12);
    color: hsl(
      var(--colour-light-text-hue) var(--colour-light-text-saturation)
        var(--colour-light-text-luminance)
    );
  }
</style>